{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <p>
            {{message}}


        </p>
        <div class="table-responsive-sm">

                    <tr>


                        <td class="text-center">
                            <a class="btn btn-primary" href="https://ussouthcentral.services.azureml.net/workspaces/b0f1253516c642b988a3fd2441652f2e/services/a44750d13c284ac69ef7d71a75cb9420/execute?api-version=2.0&format=swagger">Rawdata</a><br><br>

                            <a class="btn btn-warning" href="{%  url 'Rssprocess' %}">Afterprocessing</a><br><br>

                            <a class="btn btn-warning" href="#">Edit</a><br><br>

                            <a class="btn btn-danger" href="{%  url 'dashboard' %}">Delete</a><br><br>


                        </td>
                    </tr>

        </div>
    </div>


</div>
{% endblock content %}
