{% load static %}



<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<body>
<div class="row">
    <div class="col-sm-8">
        <h1>You have been Successfully logged in !!!</h1>
        <p>

        </p>
        <div class="table-responsive-sm">




                        <td class="text-center">

                            <a href="https://www.iangels.com/feed/">
         <img alt="rss" src="https://www.freeiconspng.com/uploads/square-rss-logo-icon-png-1.png" width="120" alt="square rss logo icon png"
         width=150" height="70"></a> <p>Raw RSS</p><br><br><br>

<!--                            <a type="submit" class="btn btn-primary" href="https://www.iangels.com/feed/">View RSS</a><br><br>-->

<!--                            <a href="processRSS/">-->
<!--         <img alt="process" src="https://www.titus.com/sites/default/files/01-main-illustration_6.png" width="120" alt="process and classify"-->
<!--              width=150" height="70"></a><p>Process and Classify RSS</p><br><br><br>-->
<!--                            <a type="submit" class="btn btn-warning" href="processRSS/" name="ProcessRSS">Process RSS and Classify</a><br><br>-->


                                <a href="feeds_list/">
         <img alt="process" src="https://www.freeiconspng.com/uploads/edit-png-icon-blue-pencil-18.png" width="120" alt="Edit png icon blue pencil" width="120" alt="process and classify"
              width=150" height="70"></a><p>Edit</p><br><br><br>
<!--                            <a type="submit" class="btn btn-warning" href="feeds_list/">Edit</a><br><br>-->
<!--                            <a class="btn btn-warning" href="classify/">Classifier</a><br><br>-->

<!--                            <a class="btn btn-danger" href="#"></a><br><br>-->
                                 <a href="logout/">
         <img alt="process" src="https://toppng.com/uploads/preview/logout-icon-png-transparent-login-logout-icon-11562923416nzkie6fbka.png" width="120" alt="Edit png icon blue pencil" width="120" alt="process and classify"
              width=150" height="70"></a><p>Logout</p><br><br><br>
<!--                            <a type="submit" class="btn btn-danger" href="logout/">Logout</a><br><br>-->
                        </td>


        </div>
    </div>


</div>
 </body>
